{% extends "layout.html" %}
{% block extend %}<!-- Extra meta data or head content here -->{% endblock %}
{% block title %}Home {% endblock %}
{% block content %}
    <h1>It works! Coding Portfolio is up and running!</h1>
    <hr/>
    <blockquote>
        <p>
            Next steps - customize the layout.html and index.html and add the other information stuff in your Django admin panel.<br>
            For help: <a href="https://github.com/areebbeigh/coding-portfolio">Coding Portfolio</a>
        </p>
        <small>
            <cite>The tooth fairy</cite>
        </small>
    </blockquote>
    <hr/>
    <h3>Recent Posts</h3>
    <br/>
    {% include "project_list.html" %}
{% endblock %}