{% extends "layout.html" %}
{% block title %}Viewing {{project.name}}{% endblock %}
{% block content %}
<h1><a href="{% url 'project_detail' project.id %}">{{project.name}}</a></h1>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="project_description">
            {% include "project_summary.html" %}
            <hr style="width: 90%"/>
            <p>
                {% if project.description.0 != '<' %}
                <span style="font-size:350%;color:black;margin-right:-3px">{{project.description.0|capfirst}}</span>
                {{project.description|slice:"1:"|safe}}
                {% else %}
                {{project.description|safe}}
                {% endif %}
            </p>
        </div>
        <p>Language{{project.languages.all.count|pluralize}}:
            {% for language in project.languages.all %}
            <span class="label label-info">{{language.name}}</span>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}